@font-face {
    font-family: 'Lato-regular';
    src: url(./text/Lato-Regular.ttf);
}

* {
    box-sizing: border-box;
}

/*stylesheet*/
:root {
    --primary-color: #94b9be;
    --h2-color: #bfd3bf;
    --h3-color: rgb(226, 135, 102);
    --accent-color: rgba(194, 227, 236, 0.7);
    --text-color: #a4c4ec;
    --background-color: #1a1a1b;
    --header-background: #0b0b0c;
    --footer-background: #0b0b0c;
    --footer-text-color: rgb(125, 173, 218);
    --transition-duration: 0.4s;
    --scale: 1;
    --scale-hover: 1.1;


}

/*Type*/
:root {
    --font-size-base: 20px;
    --font-size-heading: 30px;
    --font-weight-regular: 300;
    --font-weight-bold: 700;
    --font-family: 'lato-regular', sans-serif;
    --spacing-unit: 12px;
    --h3-spacing-unit: 15px;

}


body{
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: var(--header-background);
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-unit);
}

.logo img{
    width: 150px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: var(--spacing-unit);
}

nav ul li a{
display: inline-block;
text-decoration: none;
font-weight: var(--font-weight-bold);
color: var(--primary-color);
transition: color var(--transition-duration) ease, transform var(--transition-duration)ease;
}

nav ul li a:hover{
    color:var(--footer-text-color);
    transform: scale(var(--scale-hover));
    }

main{
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--spacing-unit);
}
/* this is for screen resolution - always centered */

.container{
display: flex;
align-items: center;
justify-content: center;
padding: 30px 20px 30px 20px;
}

.textcontainer{
    font-size: 18px;
    padding-left: 70px;
}

h1{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 30px;
    text-align: center;
    padding-top: var(--spacing-unit);
 
}

p{
    font-size: var(--font-size-base);
    line-height: 1;
    text-align: center;

}
/* this is for spacing - for each line - 1 is   */

h3{
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 5px;
}


.merchcard{
    width: 550px;
    height: 530px;
    box-shadow: 4px 4px 10px rgba(88, 109, 82, 0.3);
    transform: scale(var(--scale));
    transition:all var(--transition-duration) ease-in;
    background-color: rgb(55, 77, 88);
    padding: var(--spacing-unit);
}

.merchcard:hover{
    box-shadow: 6px 6px 12px rgba(111, 184, 206, 0.7);
    transform: scale(1.05);
}



.merchcard img{
    width: 500px;
    height: 500px;
    object-position: center;
}


.item1{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.button{
    background-color: var(--accent-color);
    border-radius: 5px;
    color: var(--background-color);
    border: none;
    padding: var(--spacing-unit);
    margin: var(--spacing-unit);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    transition: background-color 0.6s ease, transform 0.5s ease-in-out;
}

.button:hover{
background-color: var(--h3-color);
color: var(--background-color);
}

footer{
    text-align: center;
    background-color: var(--footer-background);
    padding: var(--spacing-unit);
    font-weight: var(--font-weight-bold);
}

footer p{
    color: var(--footer-text-color);
}
